<!DOCTYPE html>
<html>
<head>
  <title>Cathode</title>
  <%= stylesheet_link_tag    "cathode/application", media: "all" %>
  <%= javascript_include_tag "cathode/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
